body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #00d2ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

/* Kontener fiszki */
.card {
    background-color: transparent;
    width: 100%;
    height: 300px; /* Nieco niższe niż w galerii obrazów */
    perspective: 1000px;
    cursor: pointer;
}

/* Wnętrze fiszki */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.card.is-flipped .card-inner {
    transform: rotateY(180deg);
}

/* Wspólne style przodu i tyłu */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #444;
    padding: 20px;
    box-sizing: border-box;
}

/* Przód (Rok) */
.card-front {
    background-color: #2b2b2b;
    color: #00d2ff;
}

.year-display {
    font-size: 4rem;
    font-weight: bold;
}

/* Tył (Wydarzenie) */
.card-back {
    background-color: #00d2ff;
    color: #121212;
    transform: rotateY(180deg);
}

.card-back h2 {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.filter-container {
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-container input, .filter-container select {
    flex: 1;
    min-width: 280px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    background: #333;
    color: #fff;
    outline: none;
    text-align: center;
}

.filter-container input:focus, .filter-container select:focus {
    background: #444;
    box-shadow: 0 0 0 2px #00d2ff;
}

.filter-container select {
    cursor: pointer;
}
